/*	[ Basic HTML ]                                                  */<!-- -->
body{
	color:#000000;
	background:#404334 url(grunge/bg_repeat.jpg) repeat-y top center;
}

a {color:#787763;text-decoration: none;}
a:hover {color: #787763;text-decoration: underline;}

hr {height:1px;border:none;border-top:1px dashed #B3B5A6; width:95%;}

blockquote {
	border-left: 2px solid #B3B5A6;
}

/*	[ Layout ]                                                      */<!-- -->
#bg_top{
	background:url(grunge/bg_top.jpg) no-repeat top center;
}
#bg_btm{
	background:url(grunge/bg_btm.jpg) no-repeat bottom center;
}

#base{
	background:url(grunge/bg_base_repeat.jpg) repeat-y top center;
}

#base_top{
	background:url(grunge/bg_base_top.jpg) no-repeat center 158px;
}

#base_btm{
	background:url(grunge/bg_base_btm.jpg) no-repeat bottom center;
}

#header{
	background:url('grunge/bg_header.jpg') no-repeat center top;
}
#footer{
	overflow:hidden;
	font-size:10px;
	height:80px;
	color:#56574E;
}


/*	[ Header ] Blog Title, Description, Home URL                    */<!-- -->
#blog_name {
	padding:80px 0 0 25px;
}
#blog_name a, #blog_name a:hover {
	color:#56574E; 
}
#blog_desc {
	color:#56574E;
}

/*	[ Header ] RSS*/<!-- -->
#header .rss {
	background:url('grunge/bg_rss.jpg') no-repeat 0 0;
}
#header .rss:hover{
	background:url('grunge/bg_rss.jpg') no-repeat -64px 0;
}

/*	[ Menu ] */<!-- -->
div.menu_line{
	background:url(grunge/bg_menu_line.png) repeat-x bottom;
}
/*	[ Menu ]  Level 1                                               */<!-- -->
div.menu li a {
	color: #576C73;
	background:url(grunge/bg_menu.png) no-repeat 0px 8px;
}

div.menu > ul > li a:hover, 
div.menu > ul > li.current_page_item > a,
div.menu > ul > li.current_page_ancestor > a,
div.menu > ul > li.current_page_parent > a,
div.menu > ul > li.current-menu-ancestor > a,
div.menu > ul > li.current-menu-item > a,
div.menu > ul > li.current-menu-parent > a{
	color:#817753;
	background:url(grunge/bg_menu_hover.png) no-repeat 0px 8px;
}

/*		[ Menu ]  Level 2                                            */<!-- -->
div.menu ul ul li a{
	color:#576C73;  
	border:1px #9D9C97 solid;
	background:#EFF0E8;
}							

div.menu ul ul li a:hover,
div.menu ul ul li.current_page_item > a,
div.menu ul ul li.current_page_ancestor > a,
div.menu ul ul li.current_page_parent > a,
div.menu ul ul li.current-menu-ancestor > a,
div.menu ul ul li.current-menu-item > a,
div.menu ul ul li.current-menu-parent > a{	
	color:#817753;  
	background:#D4D8C1;
}

/* 	[ Menu ]  Level 3                                            */<!-- -->

/*	[ Content ] Post                                                */<!-- -->
.postbox{
	background:url('grunge/bg_post_title.jpg') no-repeat top;	
}

.post_title a{
	color: #56574E;
	text-decoration:none;
}
.post_date{
	color:#817753;
}

.page .post_date{
	display:none;
}
.post_author{
	color:#56574E;
}
.page .post_author{
	visibility:hidden;
}
.sticky {
	background:url('grunge/bg_post_title_sticky.jpg') no-repeat top;
}
.sticky .post_title a{
	color: #A35926;
}
.sticky .post_date{
	color:#FFFFFF;
}


/*		[ Content ] Entry                                            */<!-- -->
.entry{
	color:#000000;
}
.entry a{
	text-decoration:none;
}
.entry a:hover{
	text-decoration:underline;
}

img.post_thumb {
	border:1px solid #c8c8c8;
}

.entry table {
	border: 1px solid #c8c8c8;
}
/*		[ Content ] Post Info                                        */<!-- -->
.info_category {
	background: url('grunge/icon_category.png') no-repeat top left;
}

.info_tag {
	background: url('grunge/icon_tag.png') no-repeat top left;
}

.info_comment {
	background: url('grunge/icon_comment.png') no-repeat top left;
}


/*		[ Content ] MISC                                             */<!-- -->
.archivetitle {
	color: #000000;
}
.navigation {
	background:url(grunge/bg_menu_line.png) repeat-x top;
}
.sorry {
	border: 1px dashed #788D92;
}


/*	[ Comment ] General                                             */<!-- -->
#postmetadata {
	background: #EFF0E8;
	border:1px #9FA193 solid;
}
#comments_title {
	border-bottom: 1px dotted #9FA193;
}


ol.commentlist .comment a{
	border-bottom: 1px #468097 dotted;
}

ol.commentlist .comment div, 
ol.commentlist .trackback div, 
ol.commentlist .pingback div{
	padding:5px;
	border:1px #9FA193 solid;
	background: #EFF0E8;
}

ol.commentlist .trackback div, 
ol.commentlist .pingback div{
	border:1px #9FA193 dashed;
}

ol.commentlist .comment .comment-body{
	border-top: 1px dashed #9FA193;
}

ol.commentlist a.comment-reply-link{
	float:right;
	display:block;
	font-size:10px;
	padding:0 5px;
	text-decoration:none;
	border:0;
}

/*		[ Comment ] Paging                                           */<!-- -->

/*		[ Comment ] Form                                             */<!-- -->
#respond {
	background: #EFF0E8;
	border:1px #9FA193 solid;
}

#respond input {
	color: #000000;
	border: 1px solid #9FA193;
}
#respond textarea{
	color:#000000;
	border: 1px solid #9FA193;
}

#respond #submit {
	color: #3A3122;
	border: 1px solid #9FA193;
	background:#D4D8C1;
}

/*	[ Sidebar ] Search                                             */<!-- -->
.mainsearch {
	background:url('grunge/bg_search.jpg') no-repeat right top;	
}

.mainsearch_hover{
	background:none;
	
}

/*	[ Sidebar ] General                                             */<!-- -->

/*		[ Sidebar 1]                                                 */<!-- -->
#sidebar1 {color:#1a1a1a; font-size:11px;}
#sidebar1 a{color:#000000; text-decoration:none;}
#sidebar1 a:hover {color:#817753; text-decoration:underline;}

#sidebar1 > ul > li > h4 { /*before #sidebar h4*/
	color: #000000;
	background:url('grunge/bg_sb_head1.png') no-repeat top center;
}

#sidebar1 li li {
	background: url('grunge/bg_sb_arrow1.png') no-repeat 0px 9px;
}

/*		[ Sidebar 2]                                                 */<!-- -->
#sidebar2 {color:#6A4F3E; font-size:11px;}
#sidebar2 a{color:#6A4F3E; text-decoration:none;}
#sidebar2 a:hover {color:#000000; text-decoration:underline;}

#sidebar2 > ul >li { /* before = #sidebar1 ul li */
	background:url('grunge/bg_sb_btm2.png') no-repeat bottom center;
}

#sidebar2 > ul > li > h4 { /*before #sidebar h4*/
	color: #000000;
	background:url('grunge/bg_sb_head2.png') no-repeat top left;
}

#sidebar2 li li {
	background: url('grunge/bg_sb_arrow2.png') no-repeat 0px 9px;
}

/*	[ Footer ] Link and credit                                      */<!-- -->
#footer_credit{
	position:relative;
	margin:10px 20px 0 160px;
	font-size:10px;
	line-height:1.3em;
}
#footer_credit a{
	color:#56574E;
	font-style:normal;
	text-decoration:none;
}
#footer_credit a:hover{
	color:#56574E;
	font-style:normal;
	text-decoration:underline;
}
/*	[ Widget ]                                                      */<!-- -->
.wp-caption {
	color:#666666;
}

#wp-calendar {
	color:#666666;
}

#wp-calendar td {
	color:#666666;
}
#wp-calendar td a {
	color:#000000;
}
<!-- -->
